* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400, 700;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    padding: 0;
    margin: 0;
    margin-bottom: 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
    width: 100vw;
    position: relative;
}

nav .logo-box { 
    object-fit: cover;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list .nav-list-items {
    margin: 0 2vw;
    list-style: none;
    font-size: 1.1rem;
}

.nav-list .nav-list-items a {
    text-decoration: none;
    color: #88949B;
    padding: 0.5vw;
}

.nav-list .nav-list-items a:hover {
    color: hsl(0, 94%, 66%);
}

.toggle-bar {
    display: none;
}

.section-jumbotron {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.jumbotron-content {
    width: 30vw;
    margin: 0 auto;
    padding-top: 4rem;
}

.jumbotron-content-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: hsl(229, 31%, 21%);
}

p {
    line-height: 1.7;
    color: hsl(229, 8%, 60%);
    margin-bottom: 1rem;
}

.jumbotron-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

button {
    width: 150px;
    padding: .5rem;
    border-radius: 3px;
    border: none;
    outline: none;
    font-weight: 500;
}

.btn-1 {
    background:  hsl(231, 69%, 60%);
    color: white;
    margin-right: .4rem;
}

.jumbotron-box {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.jumbotron-image {
    padding-right: 2rem;
    z-index: 3;
}

.jumbotron-image img {
    object-fit: cover;
    width: auto;
}

.jumbotron-back-box {
    width: 400px;
    height: 320px;
    background:  hsl(231, 69%, 60%);
    position: absolute;
    bottom: 1%;
    z-index: 0;
    border-bottom-left-radius: 50%;
}

.section-features {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
}

.features-contents {
    text-align: center;
    width: 30vw;
    margin: 0 auto;
    padding: 1rem;
}

.features-tab-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.features-tab-title {
    padding: 2rem;
    color: hsl(229, 8%, 60%);
    line-height: 1;
    border-bottom: 1px solid hsl(229, 8%, 60%);
}

.features-tab-title:first-child {
    border-bottom: 1px solid hsl(229, 8%, 60%);
    border-width: 5px;
    border-bottom-color: hsl(0, 94%, 66%);
}

.features-tab-title:active, .features-tab-title:focus {
    border-bottom: 1px solid hsl(229, 8%, 60%);
    border-width: 5px;
    border-bottom-color: hsl(0, 94%, 66%);
    cursor: pointer;
}

.features-tab-title:hover {
    color: hsl(0, 94%, 66%);
    cursor: pointer;
}

.features-tab-slider {
    display: block;
    margin-bottom: 8rem;
}

.features-tab-slider--1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 8rem;
    animation: fadeEffect 1s;
}

.features-tab-slider--1:nth-child(2), .features-tab-slider--1:nth-child(3) {
    display: none;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.features-tab-slider-box {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.features-tab-slider-image {
    padding-left: 6rem;
    z-index: 3;
}

.features-tab-slider-image img {
    object-fit: cover;
    width: auto;
}

.features-tab-slider-back-box {
    width: 400px;
    height: 320px;
    background:  hsl(231, 69%, 60%);
    position: absolute;
    left: 0;
    top: 30%;
    z-index: 0;
    border-bottom-right-radius: 50%;
}

.features-tab-slider-content {
    width: 30vw;
    margin: 0 auto;
    padding: 4rem 1rem; 
}

.features-tab-slider-content-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: hsl(229, 31%, 21%);
}

.section-extension {
    margin-top: 3rem;
    padding: 1rem;
}

.extension {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.extension-contents {
    text-align: center;
    width: 30vw;
    margin: 0 auto;
    padding: 1rem;
}

.extension-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.extension-list-items {
    height: auto;
    box-shadow: 0px 0px 10px -5px;
    padding: 1.5rem;
    text-align: center;
    margin-right: 2rem;
    border-radius: 10px;
}

.extension-list-items:nth-child(2) {
    margin-top: 4rem;
}

.extension-list-items:nth-child(3) {
    margin-top: 8rem;
}

.btn-extension {
    width: 200px;
    background:  hsl(231, 69%, 60%);
    color: white;
    cursor: pointer;
}

#btn--two {
    border: 1px solid hsl(231, 69%, 60%);
    background: white;
    color: hsl(231, 69%, 60%);
}

.icon-contents {
    border-bottom: 1px solid gray;
    border-bottom-style: dashed;
    padding: 1rem;
    margin-bottom: 1rem;
}

.section-faq {
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.faq-contents {
    text-align: center;
    width: 30vw;
    margin: 0 auto;
    padding: 1rem;
}

.faq-list-box {
    width: 30vw;
    margin: 0 auto;
}

.faq-list {
    display: block;
    padding: 0 1rem;
    list-style: none;
}

.faq-list-items {
    padding: 1rem 0;
    border-top: 1px solid hsl(229, 8%, 60%);
    border-bottom: 1px solid hsl(229, 8%, 60%);
    line-height: 1.7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-list-items a {
    text-decoration: none;
    color: black;
}

.answers {
    display: none;
}

.ion-icon {
    visibility: visible;
}

.faq-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-faq {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    width: 120px;
}

.section-contact {
    background: hsl(231, 69%, 60%);
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.contact-heading {
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
}

.contact-description {
    font-size: 1.8rem;
    color: white;
    line-height: 1.5;
    width: 30vw;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.contact-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    margin-bottom: 1.5rem;
}

input {
    width: 20vw;
    padding: .5rem;
    border-radius: 3px;
    border: none;
    outline: none;
    font-weight: 500;
    margin-right: .8rem;
    padding: .6rem;
}

#btn-contact {
    width: 100px;
    background: hsl(0, 94%, 66%);
    padding: .6rem;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
    width: 100vw;
    background: hsl(229, 31%, 21%);
}

footer .logo-box { 
    object-fit: cover;
}

.footer-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-list .footer-list-items {
    margin: 0 1vw;
    list-style: none;
    text-transform: uppercase;
    font-size: .8rem;
}

.footer-list .footer-list-items a {
    text-decoration: none;
    color: #88949B;
    padding: 0.5vw;
}

.footer-icons {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.footer-icons li {
    margin-right: 2rem;
    font-size: 1.5rem;
}

.footer-icons ion-icon {
    color: white;
}

@media (min-width: 375px) and (max-width: 767px) {
    
    body {
        overflow-x: hidden;
    }

    header {
        margin-bottom: 0;
    }
    
    nav {
        position: relative;
    }
  
    .nav-list {
        display: none;
        margin: 0;
        padding: 1rem;
    }

    .nav-list .nav-list-items a {
        display: block;
        padding: 14px 16px;
        font-size: 17px;
        text-align: left;
    }

    .toggle-bar {
        display: flex;
        position: absolute;
        right: 0;
        margin-right: 1rem;
    }

    .section-jumbotron {
        display: block;
        margin-bottom: 3rem;
    }
    
    .jumbotron-content {
        width: 90vw;
        text-align: center;
        margin-bottom: 3rem;
    }

    .jumbotron-box {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    
    .jumbotron-image img {
        object-fit: cover;
        width: 100%;
    }
    
    .jumbotron-back-box {
        width: 300px;
        height: 200px;       
    }
   
    .features-contents {
        width: 90vw;
        padding: 1rem;
    }

    .jumbotron-buttons {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .features-tab-heading {
        display: block;
        text-align: center;
        margin-bottom: 8rem;
        padding: 1rem 2rem;
    }

    .features-tab-title {
        padding: .8rem;
        border-top: 1px solid hsl(229, 8%, 60%);
        margin: 0;
    }

    .features-tab-title:first-child {
        border-width: 1px;
    }

    .features-tab-title:hover {
        border-width: 5px;
        border-top: 1px solid hsl(229, 8%, 60%);
    }

    .features-tab-slider--1 {
        display: block;
    }

    .features-tab-slider--1:nth-child(2), .features-tab-slider--1:nth-child(3) {
        display: none;
    }

    .features-tab-slider-box {
        display: flex;
        justify-content: flex-end;
        position: relative;
        padding-right: 2rem;
    }
    
    .features-tab-slider-image {
        padding-left: 2rem;
        padding-top: 1rem;
    }
    
    .features-tab-slider-image img {
        object-fit: cover;
        width: 100%;
    }
    
    .features-tab-slider-back-box {
        width: 300px;
        height: 200px;
    }

    .features-tab-slider-content {
        width: 90vw;
        text-align: center;
    }
    
    .features-tab-slider-content-title {
        font-size: 1.3rem;
    }

    .section-extension {
        padding: 1rem;
    }

    .extension-list {
        display: block;
        margin-bottom: 3rem;
    }

    .extension-list-items {
        margin: 0 2.5rem;
    }

    .extension-list-items:nth-child(3) {
        margin-top: 4rem;
    }

    .extension-contents {
        width: 90vw;
        padding: 1rem;
    }

    .faq-contents {
        width: 90vw;
        padding: 1rem;
    }

    .faq-list-box {
        width: 90vw;
        margin: 0 auto;
    }
    
    .faq-list {
        display: block;
        padding: 0 1rem;
        list-style: none;
        margin-bottom: 3rem;
    }

    .faq-list-items {
        font-size: 1rem;
    }

    #btn-faq {
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem;
        width: 120px;
    }

    .contact-input {
        display: block;
        margin: 0 auto;
    }
    
    input {
        width: 80vw;
        margin-bottom: 1rem;
    }
    
    #btn-contact {
        width: 80vw;
    }

    footer {
        display: block;
        padding: 2rem;
        width: 100vw;
        text-align: center;
    }
    
    .footer-list {
        list-style: none;
        display: block;
        margin-top: 1rem;
    }

    .footer-list .footer-list-items {
        padding: 1rem;
        text-align: center;
        font-size: 1.1rem;
        margin: 0 auto;
    }

    .contact-description {
        width: 80vw;
        font-size: 1.3rem;
    }
    
    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-icons li {
        margin-right: 0;
        padding: 1rem;
        font-size: 1.8rem;
    }
    
}